<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Honda Car club</title>
</head>
<body>
    <header><h1>Welcome to the swedish Honda vintage car club</h1>
</header>
    <div>
        <span>Some things</span>
        <a th:href="@{member-Page}">Who we are</a>
        <a th:href="@{new-Member-Page}">Become a member</a>
    </div>
</body>
</html>