<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Our members</title>
  </head>
  <body>
    <header><h1>Members</h1></header>

    <div>
      <ul class="members">
        <li th:id="${member.id}" th:each="member : ${memberList}">
          <span th:text="${member.name}"></span> <br />
          <span th:text="${member.age} + ' years old'"></span> <br />
          <span th:text="${member.clubRole}"></span><br />
          <span
            style="font-weight: bolder"
            th:text="'Currently drives a: ' + ${member.currentlyDrives}"
          ></span>
          <br />
          <span th:text="${member.paidMember} ? ${member.name} + ' is currently a paid member.' : ${member.name} + ' is not a paid member in the club.'"></span>
          <br />
          <a
            th:if="${admin == currentUser}"
            th:href="@{/remove-member/{memberId}(memberId=${member.id})}"
            >Remove member</a
          >
        </li>
        <br />
      </ul>
    </div>
    <div>
      <footer class="homeButton">
        <a th:href="@{/home}">Home</a>
      </footer>
    </div>
  </body>
</html>
